.navbar_container{
    display: flex;
    justify-content: space-between;
}
.navbar_container_left{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.navbar_title{
    font-weight: 500;
    font-size: 14px;
    /* top: 50%; */
    color: white;
    padding-top: 9px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    /* top: 50%; */
    color: white;
    padding-top: 9px;
}
.navbar_container_right{
    display: flex;
    justify-content: space-between;
    width: 112px;
}